*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: cover;
}

.fondoColor{
    position: relative;
    width: 50%; /* Cambia el valor de "50%" por la mitad del ancho que desees */
    margin: 0 auto;
    background-color: #fff; /* Cambia #fff por el color que desees */
    padding: 20px; /* Ajusta el valor de "20px" según el espacio que quieras entre el borde del cuadro y el contenido */
    box-sizing: border-box;
}

nav{
    background-color: black;
    width: 100%;
    height: 8rem;
    color: white;
    box-shadow: 0px 1px 8px 0px white;
}

nav img{
    width: 15%;
    height: 8rem;
}

nav h1{
    margin-left: 29vh;
    margin-top: -97px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li{
    background-color: black;
    display: inline;
    width: 19%;
    height: 5px;
    float: right;
    margin: 4vh;
    list-style: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

nav > li:hover{
    text-shadow: 2px 4px rgb(68, 61, 61);
    transition: 0.2s
}

.cajagrande{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 11cm;
    margin-top: 80px;
    padding-left: 25vh;
}

.cajagrande img{
    background-color: white;
    width: 400px;
    height: 300px;
    margin: 10px;
    border: 5px solid white;
}
