:root {
    /* PRIMARY COLORS */
    --primary-dark-blue: hsl(233, 26%, 24%);
    --primary-lime-green: hsl(136, 65%, 51%);
    --primary-bright-cyan: hsl(192, 70%, 51%);
  
    /* NEUTRAL COLORS */
    --neutral-grayish-blue: hsl(233, 8%, 62%);
    --neutral-light-grayish-blue: hsl(220, 16%, 96%);
    --neutral-very-light-grey: hsl(0, 0%, 98%);
    --neutral-white: hsl(0, 0%, 100%);
  
    /* CUSTOM COLOR */
    --custom-gradient-color: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
    background-color: var(--neutral-very-light-grey);
  }
  
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    max-width: 1400px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
  }
  
  .btn {
    padding: 0.7rem 1.4rem;
    border-radius: 3rem;
    color: var(--neutral-white);
    background-image: var(--custom-gradient-color);
    border: none;
    outline: none;
    width: max-content;
    transition: box-shadow 450ms ease-in-out;
  }
  
  .footer-btn:hover,
  .footer-btn:focus {
    box-shadow: 0px 0px 5px var(--neutral-grayish-blue);
  }
  
  .nav-btn:hover,
  .nav-btn:focus .hero-btn:hover,
  .hero-btn:focus {
    box-shadow: 0px 0px 5px var(--primary-dark-blue);
  }
  
  .flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  nav {
    position: relative;
    background-color: var(--neutral-white);
    padding: 1.2rem 0;
    z-index: 7;
  }
  
  nav .container.flex {
    align-items: center;
  }
  
  .toggle-btn {
    position: absolute;
    right: 3rem;
    border: none;
    background-color: inherit;
    padding: 0.3rem;
    outline: none;
  }
  
  main {
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
  }
  
  main .main-text {
    padding-top: 2rem;
  }
  
  main .main-container.flex {
    flex-direction: column-reverse;
  }
  
  main .main-img .main-img__bg {
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0rem -5rem;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 69%;
    z-index: -1;
  }
  
  main .main-img .main-img__img {
    margin-top: -8.5rem;
  }
  
 
  .social-media {
    margin-top: 2rem;
  }
  
  .social-media li + li {
    margin-left: 1rem;
  }
  
  /* .footer-nav-list li + li {
    margin-top: 1rem;
  } */
  
  .footer-nav-list {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
  }
  
  
  @media screen and (min-width: 1000px) {
    .toggle-btn {
      display: none;
    }
  
    .nav-btn {
      display: inline-block;
    }
  
    .nav-list {
      display: flex;
    }
  
    .nav-container.flex {
      justify-content: space-between;
      align-items: center;
    }
  
    .nav-list.flex-column {
      flex-direction: row;
    }
  
    .nav-list li + li {
      margin-left: 2rem;
    }
  
    .nav-list li a {
      position: relative;
    }
  
    .nav-list li a::after {
      content: var(--custom-gradient-color);
      position: absolute;
      bottom: -17px;
      left: 0;
      width: 100%;
      height: 0.3rem;
      opacity: 0;
      transition: opacity 350ms ease-in;
    }
  
    .nav-list li a:hover::after {
      opacity: 1;
    }
  
    main {
      padding-bottom: 0;
      /* min-height: 100vh; */
    }
  
    main .main-container.flex {
      flex-direction: row;
    }
  
    main .main-img .main-img__img {
      margin-top: 0;
    }
  
    .left {
      max-width: 55%;
    }
  
    .right {
      max-width: 45%;
    }
  
    main .main-container .main-text {
      text-align: left;
      padding-right: 5rem;
      padding-top: 12rem;
    }
  
    main .main-img .main-img__bg {
      left: 40vw;
      background-image: url("../images/bg-intro-desktop.svg");
      background-position: -3rem -13rem;
      height: 100%;
    }
  
    main .main-img .main-img__img {
      margin-top: -5rem;
      margin-right: -5rem;
    }
  
    main .main-img .main-img__img img {
      margin-right: -5rem;
    }
  
  }